@{
    ViewBag.Title = "Contact";
}

<div class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2><strong>Nueva Reclamación</strong>
                    </h2>
                    <div class="line">
                        <hr>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <form role="form" id="solicitud-form">
                    <div class="row">
                        <div class="hidden fadeOut col-md-12" id="cargar" align="center">
                        </div>
                        <div class="col-md-6">
                            <p align="left"><strong>UEB:</strong></p>
                            <div class="form-group">
                                <input type="text" value="" class="form-control" id="UEB" name="" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p align="left"><strong>Oficina Comercial:</strong>
                            </p>
                            <div class="form-group">
                                <input type="text" value="" class="form-control" id="OC" name="" placeholder="">
                            </div>
                        </div>
                        <h4 class="text-center"><strong>Datos del Cliente.</strong></h4>
                        <div class="line">
                            <hr>
                        </div>

                        <div class="col-md-4">
                            <p align="left"><strong>Nombres:</strong>
                            </p>
                            <div class="form-group">
                                <input type="text" value="" class="form-control" id="nombre" name="" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <p align="left"><strong>Primer Apellido:</strong>
                            </p>
                            <div class="form-group">
                                <input type="text" value="" class="form-control" id="apellido" name="" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <p align="left"><strong>Segundo Apellido:</strong>
                            </p>
                            <div class="form-group">
                                <input type="text" value="" class="form-control" id="apellidos" name="" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p align="left"><strong>Calle:</strong>
                            </p>
                            <div class="form-group">
                                <input type="text" value="" class="form-control" id="calle" name="" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <p align="left"><strong>No.</strong>
                            </p>
                            <div class="form-group">
                                <input type="text" value="" class="form-control" id="No" name="" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-1">
                            <p align="left"><strong>Piso:</strong>
                            </p>
                            <div class="form-group">
                                <input type="text" value="" class="form-control" id="piso" name="" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <p align="left"><strong>Apto:</strong>
                            </p>
                            <div class="form-group">
                                <input type="text" value="" class="form-control" id="apto" name="" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <p align="left"><strong>entre:</strong>
                            </p>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <input type="text" value="" class="form-control" id="entre" name="" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <p align="left"><strong>y</strong>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <input type="text" value="" class="form-control" id="entrex" name="" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p align="left"><strong>Rpto:</strong>
                            </p>
                            <div class="form-group">
                                <input type="text" value="" class="form-control" id="rpto" name="" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p align="left"><strong>Municipio:</strong>
                            </p>
                            <div class="form-group">
                                <input type="text" value="" class="form-control" id="municipio" name="" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p align="left"><strong>Teléfono Particular:</strong>
                            </p>
                            <div class="form-group">
                                <input type="text" value="" class="form-control" id="phone" name="" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p align="left"><strong>Teléfono Trabajo:</strong>
                            </p>
                            <div class="form-group">
                                <input type="text" value="" class="form-control" id="phonew" name="" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <p align="left"><strong>Control:</strong>
                            </p>
                            <div class="form-group">
                                <input type="text" value="" class="form-control" id="ctrl" name="" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <p align="left"><strong>Ruta:</strong>
                            </p>
                            <div class="form-group">
                                <input type="text" value="" class="form-control" id="ruta" name="" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <p align="left"><strong>Folio:</strong>
                            </p>
                            <div class="form-group">
                                <input type="text" value="" class="form-control" id="folio" name="" placeholder="">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <p align="left"><strong>Nombre y Apellidos del Reclamante:</strong>
                            </p>
                            <div class="form-group">
                                <input type="text" value="" class="form-control" id="names" name="" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p align="left"><strong>Carnet de Identidad:</strong>
                            </p>
                            <div class="form-group">
                                <input type="text" value="" class="form-control" id="ci" name="" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h6 class="text-center"><strong>Datos del Cliente.</strong></h6>
                            <div class="line">
                                <hr>
                            </div>
                        </div>
                        <div class="col-md-3 col-md-offset-2">
                            <p align="left"><strong>Procede:</strong>
                            </p>
                            <div class="form-group">
                                <input type="text" value="" class="form-control" id="pr" name="" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-3 col-md-offset-1">
                            <p align="left"><strong>No Procede:</strong>
                            </p>
                            <div class="form-group">
                                <input type="text" value="" class="form-control" id="npr" name="" placeholder="">
                            </div>
                        </div>
                    </div>

                    <p align="left"><strong>Observaciones</strong>
                    </p>
                    <div class="form-group">
                        <textarea class="form-control xtext" cols="30" rows="3" id="Descripcion" name="Descripcion" placeholder="" spellcheck="false"></textarea>
                    </div>

                </form>

            </div>
            <div class="col-md-2 col-md-offset-10">    
                <button type="button" id="insertar" class="btn tf-btn btn-success text-right">Agregar</button>
            </div>  
        </div>
        
    </div>
    <div>
    
</div>
</div>