@model Sigedap.Models.TipoDeEquipo

@{
    ViewBag.Title = "Delete";
}

<div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="section-title">
                    <h2  class="text-center"><strong>Eliminar TipoDeEquipo</strong></h2>
                    <div class="line">
                        <hr>
                    </div>
                    <div class="clearfix"></div>
                </div>
<div class="col-md-12">
<h3>¿Esta seguro que desea eliminar este TipoDeEquipo?</h3>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

    </dl>
	<div class="col-md-12">
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="col-md-3">
            @Html.ActionLink("Cerrar", "Index",null,new {@class = "btn btn-default"})
                <input type="submit" value="Borrar" class="btn btn-danger" />
				<hr />
        </div>
    }
	 </div>
</div>
</div>
    </div>
</div>
