.btn-info {
    color: #000000 !important;
}

.btn-danger {
    color: #000000 !important;
}

.btn-warning {
    color: #000000 !important;
}

.btn-success {
    color: #000000 !important;
}

.containerx {
    padding-bottom: 20px!important;
    padding-top: 10px!important;
}

.down {
    padding-bottom: 50px !important;
}

